body{
    margin: 300px;
    background-image: url(https://st.depositphotos.com/22265358/60547/i/450/depositphotos_605472014-stock-photo-september-2022-brazil-photo-illustration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}
